@model HunterW_FinancialPortal.Models.ResetPasswordViewModel
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
	<meta name="author" content="ParkerThemes">
	<link rel="shortcut icon" href="~/Images/fav.png" />
	<title>HW Budget Assistant</title>
	<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Content/main.css" />
</head>
<body class="authentication">
	<div class="main-container">
		<div class="page-title">
			<div class="row gutters">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<h5 class="title">Reset Password</h5>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="row gutters justify-content-center">
				<div class="col-12 text-center">
					<h4>Reset Password</h4>
					<h5>Please enter your email address to reset your password.</h5>
					<br />
					@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(model => model.Code)
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
						<br />
						@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
						<br />
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
						<br />
						<input type="submit" class="btn btn-primary" value="Reset Password" />
					}
					<div class="m-0">
						<br />
						<span class="additional-link">@Html.ActionLink("Return To Login", "Login", "Account")</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
